<p>Faça o login para ter acesso à plataforma:</p>

<mat-form-field appearance="fill">

  <mat-label>Fazer login</mat-label>
  <br>
  <input matInput placeholder="Usuário" [(ngModel)]="usuario.name">
<br><br>
  <mat-label></mat-label>
  <input matInput placeholder="Senha"  [(ngModel)]="usuario.password" [type]="hide ? 'password' : 'text'">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <br><br>
  <button mat-raised-button (click)="fazerLogin()">Login</button>

</mat-form-field>


